@charset "utf-8";

/*
   @Author Lucas Paul
*/


/* HTML and Body styles */

div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 450px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
 
  } 
table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
